#home_header {
    background-image: url("/assets/red-millet.jpg") !important;
    background-position: 50% 20% !important;
}
#masthead {
    background-color: #fff !important;
}

#footer ul.nav a {
  color: lightsteelblue;
}

#footer ul.nav a:hover {
  color: darkslateblue;
}